* {
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

nav {
    z-index: 10000001;
    background-color: rgba(22, 22, 22, 0.844);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    position: fixed;
    width: 100%;
}

#nav-list2 {
    transition: all 3s ease-out;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0%;
    position: absolute;
    background-color: rgba(22, 22, 22, 0.844);
    opacity: 85%;
}

.nav-list2 {
    display: none;
}

nav ul li {
    color: white;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .55s ease;
}

nav ul li a:hover {
    color: rgba(255, 0, 0, 0.826);
    border-bottom: 2px solid white;
    transition: all .55s ease;
    cursor: pointer;
}

.logo {
    color: white;
    font-size: xx-large;
    letter-spacing: 1px;
    cursor: pointer;
}

#burger {
    z-index: 10;
    cursor: pointer;
    display: none;
    transition: all .75s ease;
}

.bar {
    background-color: white;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all .3s ease;
    z-index: 10002;
}

.open {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: absolute;
    right: 8%;
    top: 35px;
    align-items: center;
    transition: all 3s ease;
    z-index: 1001;
}

.introduction {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    padding: 170px 0 0% 8%;
    width: 50%;
}

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, #3E5151 75%);
}

h1 {
    color: white;
    margin: 20px 0 20px;
    font-size: 70px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: rgba(220, 87, 87, 0.788);
    letter-spacing: 2px;
    font-size: 20px;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.button {
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.826);
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    transition: all .50s ease;
}

.button:hover {
    background-color: transparent;
    border: 2px solid rgba(220, 87, 87, 0.788);
    cursor: pointer;
}

/* about aspect */
#about {
    background: aliceblue;
    height: auto;
    padding: 100px;
}

.about {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 50px 0;
}

.about-img img {
    width: 350px;
    border-radius: 25px;
}

.about-text {
    width: 40%;
}

.about-text h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.about-text h4 {
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 15px;
    font-size: 15px;
    margin-bottom: 25px;
}

.talkBtn:hover {
    color: crimson;
}

/* servies aspect  */

#services {
    /* background: #536976; */
    background: rgba(2, 0, 36, 1);
    width: 100%;
    padding: 100px;
}

.services h2 {
    color: white;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: auto;
    width: 330px;
    padding: 20px 35px;
    background: #3E5151;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgba(255, 0, 0, 0.826);
}

.para p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.services .readMoreBtn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* contact aspect */
#contact {
    background: aliceblue;
}

.contact {
    padding: 50px 0;
}

.contact-dets {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5%;
    margin: 50px 0;
}

.contact-dets h2 {
    margin: 10px 0 30px;
}

.contact .button {
    margin-left: 10px;
}

.contact .D-needs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.D-needs .button:hover {
    color: crimson;
}

/* footer aspect */
footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgba(2, 0, 36, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 18px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 0, 0, 0.826);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: larger;
}

.social a:hover {
    transform: translateY(-5px);
    transition: all .20s ease;
}

.end {
    color: aliceblue;
    margin-top: 100px;
    font-size: 10px;
}

/* learn more page */
.R-introduction {
    padding: 150px 8%;
}

.page-name {
    font-size: 25px;
    font-weight: bold;
}

.page-name a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.page-name a:hover {
    color: crimson;
}

.det {
    border-bottom: 2px solid white;
    color: crimson;
}

.R-introduction p {
    font-size: 20px;
    margin-bottom: 30px;
    width: 500px;
}

#profile {
    background-image: url(images/aboutImg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.profile img {
    width: 35%;
    position: relative;
    left: 30%;
    height: auto;
    margin: 0;
}

.profile-text {
    width: 70%;
    left: 15%;
    top: 170px;
    position: relative;
}

.profile-text h2 {
    color: white;
    font-size: 45px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.profile-text p {
    color: white;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 30px;
}

/* experience aspect*/

.experience {
    background: aliceblue;
}

.experience h2 {
    color: rgba(2, 0, 36, 1);
    font-size: 70px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.experience-row {
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 80%;
    margin-left: 10%;
    padding: 50px 0;
}

.experience img {
    width: 450px;
    height: auto;
}

.experience-text {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
}

.experience-text h3 {
    color: #292e49;
    font-size: 45px;
    padding-top: 30px;
}

.experience-text h5 {
    color: #292e49;
}

.experience-text p {
    color: rgba(22, 22, 22, 0.844);
    font-size: 20px;
    padding: 15px 0 30px;
    line-height: 23px;
}

/* certification aspect  */

#certification {
    background: rgba(2, 0, 36, 1);
    padding: 50px 0;
}

.certificates div {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
}

.certificates a {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    color: whitesmoke;
}

.certificates i {
    font-size: 30px;
    color: white;
}

.certificates h2 {
    color: white;
    font-size: 70px;
    padding: 100px 0 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.learnMore .mail h3 {
    color: #292e49;
}

.learnMore .mobile h3 {
    color: #292e49;
}

@media(max-width: 1020px) {
    /* header aspect  */

    h1 {
        margin: 10px 0 10px;
        font-size: 45px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    h4 {
        letter-spacing: 1px;
        font-size: 15px;
    }

    #services {
        padding: 50px 0;
    }

    .services h2 {
        font-size: 45px;
        width: 565px;
        margin: 15px auto;
    }

    .box {
        min-height: 200px;
    }

    .card {
        height: 350px;
        width: 200px;
        padding: 10px 15px;
    }

    .card i {
        font-size: 15px;
        margin: 20px 0px;
    }

    h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .para p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    /* footer aspect  */
    .social a {
        width: 25px;
        height: 25px;
        margin: 12px 5px;
        font-size: larger;
    }

    /* learnMore page  */

    .profile-text h2 {
        font-size: 35px;
    }

    .experience h2 {
        font-size: 45px;
        padding: 100px 0 0;
    }

    .experience img {
        display: none;
    }

    .experience-text {
        align-items: center;
        width: 80%;
        align-content: center;
        text-align: center;
    }

    .experience-text h3 {
        font-size: 35px;
    }

    .certificates h2 {
        font-size: 45px;
    }

    .certificates i {
        font-size: 20px;
    }

    .certificates a {
        font-size: 20px;
    }
}

@media(max-width: 920px) {

    /* header aspect  */


    #nav-list {
        display: none;
    }

    #burger {
        display: block;
        z-index: 10002;
    }

    #burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        transition: all .50s ease;
    }

    #burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* about aspect  */
    #about {
        padding: 50px;
        height: auto;
    }

    .about {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .about img {
        width: 250px;
    }

    .about-text {
        width: 250px;
    }
}

@media (max-width:650px) {
    /* about aspect  */

    #about {
        padding: 50px;
        height: auto;
    }

    .about img {
        width: 150px;
    }

    .about-text h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .about-text h5 {
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
        justify-content: center;
    }

    .about-text p {
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 25px;
    }

    /* services aspect */
    .services h2 {
        font-size: 25px;
        padding: 0%;
        width: fit-content;
    }
}